<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="sistema.DAL.Properties.Settings.db_sistemaConnectionString"
            connectionString="Data Source=GRAÇA-PC\SQLEXPRESS;Initial Catalog=db_sistema;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>